@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --font-style: "Lato", sans-serif;
  --screen-background: #212b41;
  --keypad-background: #2e3951;
  --tertiary-color: #18d4a3;
  font-size: 16px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-style);
}

.container {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  overflow: hidden;
}

.calculator_display {
  width: 22rem;
  height: 10rem;
  background-color: var(--screen-background);
  color: var(--tertiary-color);
  text-align: right;
  padding: 1rem;
  font-size: 3rem;
}

.calculator_keys {
  background: var(--keypad-background);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    ". . . ."
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear equal";
  height: 25rem;
  padding: 10px;
  place-items: center;
}
button {
  background: var(--screen-background);
  border: none;
  outline: none;
  color: var(--tertiary-color);
  font-size: 2em;
  border-radius: 50%;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.equal {
  grid-area: equal;
}
.decimal {
  grid-area: decimal;
}
