/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;

  /*===== Font and typography =====*/
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Nunito";
  min-height: 100vh;
  height: 100vh;
}

.navbar {
  width: 5rem;
  background-color: var(--first-color);
  position: fixed;
  height: 100%;
  transition: width 300ms ease;
}

.navbar:hover {
  width: 10rem;
}

.nav_list {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

li {
  width: 100%;
}

li:last-child {
  margin-top: auto;
}

.nav_links {
  display: flex;
  height: 5rem;
  align-items: center;
  text-decoration: none;
  margin: auto;
  justify-content: space-around;
  color: var(--first-color-light);
}

.nav_links .title {
  display: none;
}

.title {
  /* margin-left: 1rem; */
  transition: 600ms ease;
}

.navbar:hover .title {
  display: block;
}
